In [ ]:
import pandas as pd 
players_info = pd.read_csv("D:\\Projects\\Stats Project\\players_info.csv",index_col=0)
players_info.head(5)

   Player_Id       Player_Name   Batting_Style       Bowling_Style  Country_Id
0      93957       Avinash Pai  right-hand bat  right-arm offbreak          18
1       2182  Sherwin Campbell  right-hand bat    right-arm medium           4
2      48391       Tamim Iqbal   left-hand bat                 NaN          25
3       2198        Javed Omar  right-hand bat            legbreak          25
4      52290         Jason Roy  right-hand bat                 NaN           1

In [1]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("D:\\Projects\\Stats Project\\players_info.csv",index_col=0)
bowling_card= pd.read_csv("D:\\Projects\\Stats Project\\bowling_card.csv",index_col=0)
matches_stats = pd.read_csv("D:\\Projects\\Stats Project\\matches_data.csv",index_col=0)
partnership = pd.read_csv("D:\\Projects\\Stats Project\\partnership_data.csv",index_col=0)


server = "DESKTOP-DFD5PNH"
database = "Cricket_Project"
driver = "ODBC Driver 17 for SQL Server"

connection_string = f"mssql+pyodbc://@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)


df.to_sql('players_info', con=engine, if_exists='replace', index=False)
bowling_card.to_sql('bowling_card', con=engine, if_exists='replace', index=False)
matches_stats.to_sql('matches_data', con=engine, if_exists='replace', index=False)
partnership.to_sql('partnership_data', con=engine, if_exists='replace', index=False)

print("Data successfully exported to SQL Server!")

Data successfully exported to SQL Server!